#wrap {
	#menu {
		@include menu-editor;
		width: 20%;

		form {
			input#search {
				display: none;
				border-radius: 5em;
				border: 1px solid #ccc;
				outline: none;
				padding: 1em;
				font-family: "Open Sans", sans-serif;
				font-size: 10pt;
				font-weight: lighter;
				box-shadow: 5px 5px 10px -5px rgba(#000,0.05) inset;
			}
		}

		// ul#sel-opt {
		
		// 	li {
		// 		font-family: "Open Sans", sans-serif;
		// 		font-weight: lighter;
		// 		font-size: 16pt;
		// 		padding: 0.5em 1em;
		// 		transition: color 0.2s;

		// 		&:hover {
		// 			color: #448ccb;
		// 			cursor: pointer;
		// 		}
		// 	}
		// }

		// ul.sub-menu {
		// 	display: none;

		// 	&.open {
		// 		position: absolute;
		// 		top: 0;
		// 		right: 0;
		// 		width: 50%;
		// 		height: 100%;
		// 		display: block;
		// 		z-index: 0;
		// 		background: -webkit-linear-gradient(top, #fff, #eee);
		// 		border-left: 1px solid #fff;
		// 		box-shadow: -5px 0px 5px -5px rgba(0,0,0,0.1);

		// 		li {
		// 			display: none;
		// 			font-family: "Open Sans", sans-serif;
		// 			font-weight: lighter;
		// 			font-size: 12pt;
		// 			padding: 1em;
		// 			transition: color 0.2s;

		// 			&:hover {
		// 				color: #448ccb;
		// 				cursor: pointer;
		// 			}
		// 		}
		// 	}
		// }
	}
}