!!! 5
%html
  %head
    %script{ :type => 'text/javascript', :src => "../jquery.min.js" }
    %script{ :type => 'text/javascript', :src => "../ajax.js" }
    %title Terminal
  %body
    %form{ :id => "terminal" }
      %input{ :type => "text", :name => "cmd", :placeholder => "command" }
      %input{ :type => "submit" }