/* line 2, ../sass/editor.scss */
#wrap #editor {
  position: relative;
  width: 100%;
  height: 100%;
  border-left: 1px solid #fff;
  overflow: hidden;
}
/* line 12, ../sass/editor.scss */
#wrap #menu {
  display: none;
  position: absolute;
  top: 0;
  left: 2em;
  width: 10em;
  height: 2em;
  background: #cccccc;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}
/* line 23, ../sass/editor.scss */
#wrap #menu::before {
  content: '';
  position: absolute;
  right: 100%;
  top: -1px;
  height: 1.5em;
  width: 1.5em;
  background: red;
}
