@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300");
/* line 17, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 2, ../sass/editor.scss */
#wrap #editor {
  position: relative;
  height: 100%;
  float: right;
  box-sizing: border-box;
  z-index: 1;
  width: 80%;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);
  border-left: 1px solid #fff;
  overflow: hidden;
}
/* line 10, ../sass/editor.scss */
#wrap #editor .node {
  position: absolute;
  top: 50px;
  left: 50px;
  height: 3em;
  width: 3em;
  border-radius: 50%;
  z-index: 1000;
  box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.1), 0px 1px 1px 0px white inset;
  background: -webkit-linear-gradient(top, #eeeeee, #dddddd);
  border: 1px solid #ccc;
  cursor: pointer;
}
/* line 25, ../sass/editor.scss */
#wrap #editor .node.botany__menu {
  border-radius: 2em;
  width: 10em;
  height: 50px;
  z-index: 1001;
}
/* line 93, ../sass/editor.scss */
#wrap #editor .node .inputs {
  width: 10%;
  float: left;
  height: 100%;
  box-sizing: border-box;
}
/* line 41, ../sass/editor.scss */
#wrap #editor .node .inputs ul li {
  position: relative;
  height: 15px;
  margin: 15px 0;
  margin-left: 50%;
}
/* line 47, ../sass/editor.scss */
#wrap #editor .node .inputs ul li h1 {
  display: none;
  position: absolute;
  left: 300%;
  padding: 0.5em 2em;
  margin-top: -0.5em;
  border: 1px solid #fb9625;
  border-radius: 0.25em;
  background: #fdc689;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  font-size: 10pt;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  z-index: 2;
}
/* line 66, ../sass/editor.scss */
#wrap #editor .node .inputs ul li::before {
  content: '';
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: -webkit-linear-gradient(top, #eeeeee, #dddddd);
  border: 1px solid #bbb;
}
/* line 77, ../sass/editor.scss */
#wrap #editor .node .inputs ul li.drag::before {
  z-index: 2;
}
/* line 83, ../sass/editor.scss */
#wrap #editor .node .inputs ul li.lightup::before {
  box-shadow: 0px 0px 15px rgba(46, 49, 146, 0);
}
/* line 98, ../sass/editor.scss */
#wrap #editor .node .inputs ul li {
  margin-left: -50%;
}
/* line 101, ../sass/editor.scss */
#wrap #editor .node .inputs ul li h1 {
  left: -350%;
}
/* line 108, ../sass/editor.scss */
#wrap #editor .node .fields {
  width: 80%;
  height: 100%;
  float: left;
  box-sizing: border-box;
}
/* line 115, ../sass/editor.scss */
#wrap #editor .node .outputs {
  width: 10%;
  float: left;
  height: 100%;
  box-sizing: border-box;
}
/* line 41, ../sass/editor.scss */
#wrap #editor .node .outputs ul li {
  position: relative;
  height: 15px;
  margin: 15px 0;
  margin-left: 50%;
}
/* line 47, ../sass/editor.scss */
#wrap #editor .node .outputs ul li h1 {
  display: none;
  position: absolute;
  left: 300%;
  padding: 0.5em 2em;
  margin-top: -0.5em;
  border: 1px solid #fb9625;
  border-radius: 0.25em;
  background: #fdc689;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  font-size: 10pt;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  z-index: 2;
}
/* line 66, ../sass/editor.scss */
#wrap #editor .node .outputs ul li::before {
  content: '';
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: -webkit-linear-gradient(top, #eeeeee, #dddddd);
  border: 1px solid #bbb;
}
/* line 77, ../sass/editor.scss */
#wrap #editor .node .outputs ul li.drag::before {
  z-index: 2;
}
/* line 83, ../sass/editor.scss */
#wrap #editor .node .outputs ul li.lightup::before {
  box-shadow: 0px 0px 15px rgba(46, 49, 146, 0);
}

@-webkit-keyframes pulse {
  /* line 124, ../sass/editor.scss */
  0% {
    box-shadow: 0px 0px 15px rgba(255, 0, 0, 0);
  }

  /* line 125, ../sass/editor.scss */
  100% {
    box-shadow: 0px 0px 15px rgba(255, 0, 0, 0.5);
  }
}

/* line 2, ../sass/menu.scss */
#wrap #menu {
  position: relative;
  height: 100%;
  float: right;
  box-sizing: border-box;
  width: 20%;
}
/* line 7, ../sass/menu.scss */
#wrap #menu form input#search {
  display: none;
  border-radius: 5em;
  border: 1px solid #ccc;
  outline: none;
  padding: 1em;
  font-family: "Open Sans", sans-serif;
  font-size: 10pt;
  font-weight: lighter;
  box-shadow: 5px 5px 10px -5px rgba(0, 0, 0, 0.05) inset;
}

/* line 1, ../sass/botany.scss */
canvas.botany__bg {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 15, ../sass/botany.scss */
div.botany__navicon {
  display: inline-block;
  padding: 10px 18px;
  color: #666;
  font-size: 24pt;
  font-weight: bolder;
  text-shadow: 1px 0px 15px #fff, 1px 0px 2px #fff;
  -webkit-transition: text-shadow 0.5s;
}
/* line 25, ../sass/botany.scss */
div.botany__navicon:hover {
  text-shadow: 0px 0px 15px rgba(255, 0, 0, 0.7);
}

/* line 11, ../sass/screen.scss */
#wrap {
  position: absolute;
  background: -webkit-linear-gradient(top, white, #eeeeee);
  width: 100%;
  height: 100%;
}
